/* 노멀라이즈 */
*{
  padding: 0;
  margin: 0;
}
ul,li{
  list-style: none;
}
a{
  color: inherit;
  text-decoration: none;
}
/* 라이브러리 */
.row::after{
  display: block;
  content: "";
  clear: both;
}
.cell{
  float: left;
}
.cell-r{
  float: right;
}
/* 스타일 */
/* 공통 */
@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}
html{
  width: 100%;
  height: 100%;	
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
body{
  background-color: #f8f9fa;
  font-family: "GmarketSansMedium";
}
header{
  margin-bottom: 5rem;
}
body{
  width: 100%;
  height: 100%;	
}
article{
  height: auto;
  min-height: 100%;
  padding-bottom: 80px;
}
/* top-bar 시작 */
#top-bar-wrap{
  width: 100%;
  height: 5rem;
  position: fixed;
  z-index: 999;
  text-align: center;
  background-color: #f8f9fa;
  color: #454545;
  box-shadow: 1px 2px 4px #272559;
  display: flex;
  justify-content: space-between;
}
#logo-box{
  font-size: 1.2rem;
  line-height: 5rem;
  margin: 0 5rem;
}
#nav-bar{
  height: 100%;
  display: flex;
  justify-content: space-between;
}
#nav-bar > .menu{
  height: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 5rem;
  padding: 0 1.5rem;
  cursor: pointer;
}
#nav-bar > .menu:last-child{
  width: 8rem;
  padding: 0;
  margin-right: 3.5rem;
}
#my-page{
  display: block;
  cursor: pointer;
}
#my-page > ul{
  background-color: #f8f9fa;
  box-shadow: 1px 2px 2px #272559;
  font-size: 0.8rem;
  font-weight: normal;
  display: none;
}
#my-page:hover > ul{
  display: block;
}
#my-page > ul > li{
  width: 8rem;
}
#my-page > ul:hover > li{
  color: #f2f2f2;
}
#my-page > ul > li:hover {
  color: inherit;
}
@media screen and (max-width: 964px) {
	 html{
	 	font-size: 11px;
	 }
	 #nav-bar > .menu{
	 padding: 0 1rem;
	 }
}
@media screen and (max-width: 768px) {
	header{
	  margin-bottom: 10rem;
	}
	#top-bar-wrap{
	  height: 10rem;	
	  flex-direction: column; 
	}
	#logo-box{
	  font-size: 1.2rem;
	  line-height: 5rem;
	  margin: 0 5rem;
	}
	#nav-bar{
	  height: 100%;
	}
	#nav-bar > .menu{
	  height: 100%;
	  text-align: center;
	  font-size: 1rem;
	  font-weight: 700;
	  line-height: 5rem;
	  padding: 0 1.5rem;
	  cursor: pointer;
	}
	#nav-bar > .menu:last-child{
	  width: 8rem;
	  padding: 0;
	  margin-right: 0;
	}
	#my-page{
	  display: block;
	  cursor: pointer;
	}
	#my-page > ul{
	  background-color: #f8f9fa;
	  box-shadow: 1px 2px 2px #272559;
	  font-size: 0.8rem;
	  font-weight: normal;
	  display: none;
	}
	#my-page:hover > ul{
	  display: block;
	}
	#my-page > ul > li{
	  width: 8rem;
	}
	#my-page > ul:hover > li{
	  color: #f2f2f2;
	}
	#my-page > ul > li:hover {
	  color: inherit;
	}
}
/* top-bar 끝 */
/* footer 시작 */
footer{
  width: 100%;
  height: 80px;
  position: relative;
  transform: translateY(-100%);	
}
#copy-right{
  width: 100%;
  height: 100%;
  background-color: #454545;
  color: #ffffff;
  text-align: center;
}
#copy-right > p{
  line-height: 80px;
}
/* footer 끝 */